*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: var(--Light-grayish-blue);
}
main {
  height:auto;
  width: auto;
  padding: 15px;
  margin-inline:0 auto;
}

@media (max-width: 1440px){
.grid {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: auto;
  gap: 15px;
  height: 100%;
}

/* item 1 */
#item-1 {
  background-color: var(--Moderate-violet);
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 7;
  border-radius: 5px;
  padding: 25px;
  position: relative;
}
#item-1 div {
  display: flex;
  justify-content: center;
  height: 40px;
  overflow: hidden;
}

.avatar > img {
  border-radius: 50%;
  border: 2px solid var(--Light-gray);
  width: 40px;
  height: 40px;

}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  z-index: 20;
}

.info .name {
  color: var(--White);
  font-weight: 500;
}

.info .verified {
  color: var(--White);
  opacity: 50%;
  font-size: 14px;
  margin: 3px 0;
}

.title {
  font-size: 1.6rem;
  padding: 20px 0;
  color: var(--White);
  z-index: 40;
}
.quotation{
  position: absolute;
  right:6em;
  top: 0em;
  width: 120px;
  z-index: 0;
  opacity: .5;
}

.description {
  color: var(--Light-gray);
  font-size: 18px;
}

/* item 2 */
#item-2 {
  background-color: var(--Very-dark-grayish-blue);
  grid-row-start: 1;
  grid-column-start: 7;
  grid-row-end: 3;
  grid-column-end: 10;
  border-radius: 5px;
  padding: 25px;
  overflow: hidden;
}
#item-2 div {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  height: 40px;
  overflow: hidden;
}

/* item 3 */
#item-3 {
  background-color: var(--White);
  grid-row-start: 1;
  grid-column-start: 10;
  grid-row-end: 5;
  grid-column-end: 13;
  border-radius: 5px;
  padding: 25px;
  overflow: hidden;
}
#item-3 .info .name {
  color: var(--Very-dark-grayish-blue);
  /* margin:3px 0; */
}

#item-3 .info .verified {
  color: var(--Very-dark-grayish-blue);
  opacity: 50%;
}

#item-3 div {
  display: flex;
  justify-content: center;
  height: 40px;
  overflow: hidden;
}
#item-3 .title {
  font-size: 1.6rem;
  padding: 15px 0;
  color: var(--Very-dark-grayish-blue);
}

#item-3 .description {
  color: var(--Very-dark-grayish-blue);
  opacity: 50%;
  font-size: 18px;
}

/* item 4 */
#item-4 {
  background-color: var(--White);
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 4;
  border-radius: 5px;
  padding: 25px;
  overflow: hidden;
}
#item-4 div {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  height: 40px;
  overflow: hidden;
}

#item-4 .info .name {
  color: var(--Very-dark-grayish-blue);
}

#item-4 .info .verified {
  color: var(--Very-dark-grayish-blue);
  opacity: 50%;
}

#item-4 .title {
  color: var(--Very-dark-grayish-blue);
}

#item-4 .description {
  color: var(--Very-dark-grayish-blue);
  opacity: 50%;
}

/* item 5 */
#item-5 {
  background-color: var(--Very-dark-blackish-blue);
  grid-row-start: 3;
  grid-column-start: 4;
  grid-row-end: 5;
  grid-column-end: 10;
  border-radius: 5px;
  padding: 25px;
  overflow: hidden;
}
#item-5 .title {
  font-size: 1.6rem;
  padding: 15px 0;
  color: var(--White);
}

#item-5 .description {
  color: var(--Light-gray);
  font-size: 18px;
}

#item-5 div {
  display: flex;
  justify-content: center;
  height: 40px;
  overflow: hidden;
}

.attribution{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
}
}

@media (max-width: 800px) {
  .grid {
    height: auto;
  }
  #item-1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 12;
  }
  #item-2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 12;
  }
  #item-3 {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 12;
  }
  #item-4 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 12;
  }
  #item-5 {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-row-end: 5;
    grid-column-end: 12;
  }
}
